---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"35407b8a88882fe5717a4701910f6ce7"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-935733829
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"v2umtz8ths9v",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-21T13:32:11Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-21T13:32:12Z"
          },
          "name":"CMA Demo Rails App"}
  recorded_at: Fri, 05 Sep 2014 11:38:39 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2a8abfd957b4ad9b6b47f853bd58078a"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 3,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "testowe",
                  "id": "testowe",
                  "type": "Link",
                  "uiid": "3q907mcb4lc",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true
                }
              ],
              "name": "test",
              "sys": {
                "id": "26eLfV14SIOeQkse44q4sw",
                "type": "ContentType",
                "createdAt": "2014-08-22T12:57:43.618Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "v2umtz8ths9v"
                  }
                },
                "firstPublishedAt": "2014-08-22T12:57:53.093Z",
                "publishedCounter": 2,
                "publishedAt": "2014-08-22T12:57:58.628Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 13,
                "version": 14,
                "updatedAt": "2014-08-22T12:57:58.633Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "displayField": "title",
              "name": "Post",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Text",
                  "localized": true,
                  "uiid": "2sdir2f8kcg"
                },
                {
                  "id": "author",
                  "name": "Author",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4x1018907pc"
                },
                {
                 [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/entries/2TfOVAXdVYkMYuAsWsW8EW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"311e7bed728c4a1abcf76127b03a9e96"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "id": "2TfOVAXdVYkMYuAsWsW8EW",
            "type": "Entry",
            "createdAt": "2014-09-05T11:37:15.072Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "v2umtz8ths9v"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "category_content_type"
              }
            },
            "version": 7,
            "updatedAt": "2014-09-05T11:37:18.303Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "fields": {
            "name": {
              "en-US": "asdasd"
            },
            "description": {
              "en-US": "asdad"
            }
          }
        }
  recorded_at: Fri, 05 Sep 2014 11:38:40 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/content_types/category_content_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/locales
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '[...]
- request:
    method: delete
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/entries/2TfOVAXdVYkMYuAsWsW8EW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 204
      message: No Content
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Sep 2014 11:38:42 GMT
recorded_with: VCR 2.9.2
