---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"CMA Demo Rails App"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - 1EQPR5IHrPx94UY4AViTYO
  response:
    status:
      code: 201
      message: Created
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"969eab9998331e8d6a1bd6ef7e30ebaa"'
      Location:
      - https://api.contentful.com/spaces/jryyjoe1lxrd
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - f1c-1376764295
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"jryyjoe1lxrd",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-09-05T11:47:00Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-09-05T11:47:00Z"
          },
          "name":"CMA Demo Rails App"}
  recorded_at: Fri, 05 Sep 2014 11:47:35 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/jryyjoe1lxrd/locales
    body:
      encoding: UTF-8
      string: '{"name":"English","code":"en-US"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 422 Unprocessable Entity
      X-Contentful-Request-Id:
      - 71a-914505150
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Error",
            "id":"ValidationFailed"
          },
          "requestId":"71a-914505150",
          "message":"The resource you sent in the body is invalid.",
          "details":{
            "errors":[
              {
                "name":"taken",
                "path":"code",
                "value":"en-US"
              }
            ]
          }}
  recorded_at: Fri, 05 Sep 2014 11:47:35 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/jryyjoe1lxrd/locales
    body:
      encoding: UTF-8
      string: '{"name":"German","code":"de-DE"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"7ddfa1c352e2a28ffefe3244ff191e7f"'
      Location:
      - https://api.contentful.com/spaces/jryyjoe1lxrd/locales/2bsFMJA2OB8R85WdLulPyC
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 85f-935735736
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Locale",
            "id":"2bsFMJA2OB8R85WdLulPyC",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"jryyjoe1lxrd"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-09-05T11:47:04Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-09-05T11:47:04Z"
          },
          "name":"German",
          "code":"de-DE",
          "default":false,
          "contentManagementApi":true,
          "publish":true,
          "contentDeliveryApi":true}
  recorded_at: Fri, 05 Sep 2014 11:47:37 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/jryyjoe1lxrd/content_types/category_content_type
    body:
      encoding: UTF-8
      string: '{"name":"Category","description":null,"fields":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3ad2303e962f03e6e57daf1a07c4dc19"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Category",
          "description": null,
          "fields": [],
          "sys": {
            "id": "category_content_type",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2014-09-05T11:47:08.188Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "jryyjoe1lxrd"
              }
            },
            "updatedAt": "2014-09-05T11:47:08.188Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Fri, 05 Sep 2014 11:47:40 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/jryyjoe1lxrd/content_types/category_content_type
    body:
      encoding: UTF-8
      string: '{"name":"Category","description":"","fields":[{"id":"name","name":"Name","type":"Text","localized":true}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bef55da4532fd014d251f0f633abb902"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Category",
          "description": "",
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Text",
              "localized": true
            }
          ],
          "sys": {
            "id": "category_content_type",
            "type": "ContentType",
            "createdAt": "2014-09-05T11:47:08.188Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "jryyjoe1lxrd"
              }
            },
            "version": 2,
            "updatedAt": "2014-09-05T11:47:09.081Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Fri, 05 Sep 2014 11:47:41 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/jryyjoe1lxrd/content_types/category_content_type
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Category","description":"","fields":[{"id":"name","name":"Name","type":"Text","localized":true},{"id":"description","name":"Description","type":"Text","localized":true}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Conte[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/jryyjoe1lxrd/content_types/category_content_type/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Typ[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/jryyjoe1lxrd/content_types/post_content_type
    body:
      encoding: UTF-8
      string: '{"name":"Post","description":null,"fields":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
   [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/jryyjoe1lxrd/content_types/post_content_type
    body:
      encoding: UTF-8
      string: '{"name":"Post","description":"","fields":[{"id":"title","name":"Title","type":"Text","localized":true},{"id":"author","name":"Author","type":"Text","localized":true},{"id":"body","name":"Body","type":"Text","localized":true},{"id":"title_image","name":"Title
        Image","type":"Link","linkType":"Asset","required":true,"localized":true}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d6c349e2e0386809cb25953eca266172"'
    body:
      encoding: UTF-8
      str[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/jryyjoe1lxrd/content_types/post_content_type/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '8'
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
 [...]
