---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"35407b8a88882fe5717a4701910f6ce7"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - f1c-1376769059
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"v2umtz8ths9v",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-21T13:32:11Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-21T13:32:12Z"
          },
          "name":"CMA Demo Rails App"}
  recorded_at: Fri, 05 Sep 2014 12:12:57 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2a8abfd957b4ad9b6b47f853bd58078a"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 3,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "testowe",
                  "id": "testowe",
                  "type": "Link",
                  "uiid": "3q907mcb4lc",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true
                }
              ],
              "name": "test",
              "sys": {
                "id": "26eLfV14SIOeQkse44q4sw",
                "type": "ContentType",
                "createdAt": "2014-08-22T12:57:43.618Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "v2umtz8ths9v"
                  }
                },
                "firstPublishedAt": "2014-08-22T12:57:53.093Z",
                "publishedCounter": 2,
                "publishedAt": "2014-08-22T12:57:58.628Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 13,
                "version": 14,
                "updatedAt": "2014-08-22T12:57:58.633Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "displayField": "title",
              "name": "Post",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Text",
                  "localized": true,
                  "uiid": "2sdir2f8kcg"
                },
                {
                  "id": "author",
                  "name": "Author",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4x1018907pc"
                },
                {
                 [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/assets/4OnNiEyHiow0i2IKWUyE4u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"0839b43a28d23ed1867f108ffdf24858"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Runner",
              "de-DE": "Runner DE",
              "pl-PL": "Biegacz"
            },
            "description": {
              "en-US": "Biegacz",
              "de-DE": "Biegacz",
              "pl-PL": "Biegacz"
            },
            "file": {
              "en-US": {
                "fileName": "guy_runner_illus",
                "contentType": "image/jpeg",
                "details": {
                  "image": {
                    "width": 1024,
                    "height": 1024
                  },
                  "size": 60089
                },
                "url": "//images.contentful.com/v2umtz8ths9v/4OnNiEyHiow0i2IKWUyE4u/dc3af584fc994360371473b4d63fd37f/runner.jpg"
              },
              "de-DE": {
                "fileName": "Scholaris_-_Biegacz",
                "contentType": "image/jpeg",
                "details": {
                  "image": {
                    "width": 598,
                    "height": 880
                  },
                  "size": 114026
                },
                "url": "//images.contentful.com/v2umtz8t[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/assets/25YMjrnn2IUy2u0qUS0aCw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/content_types/post_content_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+js[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/locales
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/entries/
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Sport is good for health..."},"author":{"en-US":"Protas"},"body":{"en-US":"Some
        body"},"title_image":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"4OnNiEyHiow0i2IKWUyE4u"}}},"second_image":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"25YMjrnn2IUy2u0qUS0aCw"}}},"category":{}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - post_content_type
  response:
    status:
      code: 201
      message: Created
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d77d27e9a0fb67beb19f89516d0eadb1"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Sport is good for health..."
            },
            "author": {
              "en-[...]
[...]
