---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"35407b8a88882fe5717a4701910f6ce7"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - f1c-1376769168
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"v2umtz8ths9v",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-21T13:32:11Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-21T13:32:12Z"
          },
          "name":"CMA Demo Rails App"}
  recorded_at: Fri, 05 Sep 2014 12:13:30 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2a8abfd957b4ad9b6b47f853bd58078a"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 3,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "testowe",
                  "id": "testowe",
                  "type": "Link",
                  "uiid": "3q907mcb4lc",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true
                }
              ],
              "name": "test",
              "sys": {
                "id": "26eLfV14SIOeQkse44q4sw",
                "type": "ContentType",
                "createdAt": "2014-08-22T12:57:43.618Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "v2umtz8ths9v"
                  }
                },
                "firstPublishedAt": "2014-08-22T12:57:53.093Z",
                "publishedCounter": 2,
                "publishedAt": "2014-08-22T12:57:58.628Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 13,
                "version": 14,
                "updatedAt": "2014-08-22T12:57:58.633Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "displayField": "title",
              "name": "Post",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Text",
                  "localized": true,
                  "uiid": "2sdir2f8kcg"
                },
                {
                  "id": "author",
                  "name": "Author",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4x1018907pc"
                },
                {
                 [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/entries/4Pd4NpuW1q4GI4qWacamIO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"80633bacf90d686a7683c4bfc218890d"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {},
            "author": {},
            "body": {},
            "title_image": {},
            "second_image": {},
            "category": {}
          },
          "sys": {
            "id": "4Pd4NpuW1q4GI4qWacamIO",
            "type": "Entry",
            "createdAt": "2014-09-05T11:44:18.737Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "v2umtz8ths9v"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "post_content_type"
              }
            },
            "version": 1,
            "updatedAt": "2014-09-05T11:44:18.738Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Fri, 05 Sep 2014 12:13:31 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/content_types/post_content_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+js[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/locales
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/assets/4teeyoy7SUMgmGaiG0YiYW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8f22cfaab221cef280d5b9d83513655c"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Healthyxxx testing",
              "de-DE": "",
              "pl-PL": ""
            },
            "description": {
              "en-US": "some desc",
              "de-DE": "",
              "pl-PL": ""
            },
            "file": {
              "en-US": {
                "contentType": "image/jpg",
                "fileName": "Healthyxxx testing",
                "details": {
                  "image": {
                    "width": 608,
                    "height": 416
                  },
                  "size": 35421
                },
                "url": "//images.contentful.com/v2umtz8ths9v/4teeyoy7SUMgmGaiG0YiYW/3bfd8a1b318c2d9fe727e430bc957380/Healthyxxx_testing"
              },
              "de-DE": {
                "contentType": "",
                "fileName": "",
                "upload": ""
              },
              "pl-PL": {
                "contentType": "",
                "fileName": "",
                "upload": ""
              }
            }
          },
          "sys": {
            "id": "4teeyoy7SUMgmGaiG0YiYW",
            "type": "Asset",
            "createdAt": "2014-09-05T12:02:09.200Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "v2umtz8ths9v"
              }
            },
            "version": 2,
            "updatedAt": "2014-09-05T12:02:10.746Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Fri, 05 Sep 2014 12:13:32 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/assets/2clOr9mxFGUIoOm0i6UeiA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/entries/4Pd4NpuW1q4GI4qWacamIO
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Sports"},"author":{"en-US":"P. Protas"},"body":{"en-US":"body
        update"},"title_image":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"4teeyoy7SUMgmGaiG0YiYW"}}},"second_image":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"2clOr9mxFGUIoOm0i6UeiA"}}},"category":{}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"0cc3874f0339c375299e0d87dbf59569"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Sports"
            },
            "author": {
              "en-US": "P. Protas"
            },
        [...]
